body{
    background: #001f3f ;
    font-family: "Poppins", serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    background-color:  #001f3f;
    border-radius:100px;
    padding-bottom: 10px;
    box-shadow: 0 60px 100px #240047;
    width: 100%;
    height: 150px;
    border: 3px solid aliceblue;
}

.logo{
    width: 120px;
    padding: 10px;
    border-radius: 120px;
    filter: drop-shadow(0 0px 10px #ffffff);
    cursor: pointer;
    animation: logo 5000ms infinite;
}
@keyframes logo{
    0%, 100%{
        transform:scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}

main{
    display: flex;
    padding-top: 5%;
    flex-direction: column;
    gap: 30px;
}


.button-projetos{

    padding: 15px;
    background-color: #04044d;
    border: none;
    border-radius: 15px;
    font-size: 40px;
    text-align: center;
    color:rgb(255, 255, 255) ;
    border-radius: 70px;
}
.button-projetos:hover{
    background-color: #d9ff00;
    cursor: pointer;
    color: #01010a;

}
.button-header{
    padding: 15px;
    background-color: rgba(27, 27, 101, 0.515);
    border: none;
    border-radius: 15px;
    font-size: 40px;
    text-align: center;
    color:rgb(255, 255, 255) ;
    border-radius: 70px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #001f3f ;
    border-radius: 45px;
    padding: 20px;
    color: #ffc857;
    font-size: 30px;
    border: 3px solid white;

}
.projetos{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items:center ;
}
.box-eu{
    width: 500px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}
.box-eu::before,
.box-eu::after{
    content: '';
    position: absolute;
    background: linear-gradient(3deg, rgba(0, 0, 248, 0),#ffc857);
    background-size: 450%;
    border-radius: 50%;
    width: calc(100% + 9px);
    height: calc(100% + 9px);
    z-index: -1;
    animation: bordas 1s ease-in-out infinite;
}
.box-eu::after{
    filter: blur(7px);
}
@keyframes bordas{
    0%{
        transform: rotate(45deg)
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.foto-eu{
    position: relative;
    background-size: cover;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #001f3f ;
}


@keyframes eu{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.02);
    }
}
#background-video {
    position: fixed;  /* Fixa o vídeo no fundo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  /* Faz o vídeo cobrir toda a área da tela sem distorção */
    z-index: -1;  /* Coloca o vídeo atrás de outros elementos da página */
    opacity: 20%;
}
.logo-github{
    width: 100px;
    animation: logo 5000ms infinite;
    filter: drop-shadow(0 0px 10px #ffffff);
}
.logo-linkedin{
    width: 100px;
    animation: logo 5000ms infinite;
    filter: drop-shadow(0 0px 10px #ffffff);
}
.container-quemsou{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #001f3f ;
    color: white;
    padding-inline: 5%;
    padding-block: 5%;
    border: 2px solid white;
    border-radius: 15px;
    width: 50%;
}
.section-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-inline: 5%;
    gap: 5%;
}
.tittle-quemsou{
    font-size: 4vw;
}
.texto-quemsou{
    font-size: 1.5vw;
}